body{
	margin:0;
	padding:0;
	padding-bottom:20px;
	background-color: white;
}



.navbar .navbar-brand,.nav-item .nav-link{
	
	padding:8px 10px;
	
	
}

.bd-example .carousel-inner .carousel-item img{
	height:100%;
}

.navbar-brand{
	font-size: 25px;
}

.nav-item .nav-link:hover{
	background-color:rgba(36,41,46,0.9);
	font-size: 1.098em;
	padding: 10px 10px;
}

.carousel{
	position:absolute;
	top:0;
	height:550px;
	min-width: 100%;
	left:0;
	margin-bottom: 10px;
}

.carousel-inner>.carousel-item{
	height:550px;
	padding-bottom:20px;
}



.carousel-caption>h5{
	color:black;
	font-size: 28px;
	font-weight: bolder
	
}

.carousel-caption>p{
	color:black;
	font-weight: 700;
}

.bd-example{
	height:550px;
	margin-bottom: 20px;
}

.team-section .col-lg-4{
	
	padding:15px 18px;
	text-align: center;
	margin-bottom: 10px;
}

.team-section p{
	margin-left: 10px;
	margin-right: 10px;
}

.divider{
	margin:40px 0;
}

.context{
	text-align: center;
	padding-top:40px;
	margin-bottom: 20px;
	
}
.content{
	margin-bottom:20px;
}


.content-context{
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	padding:20px 10px 10px 10px;
	
}

.content-image img{
	padding:20px 20px;
}

footer{
	text-align: center;
	background-color: rgba(6,6,6,0.9);
	color:white;
	padding:10px;
}

footer p a:link{
	color:white;
	
}

footer p{
	margin-top: 5px;
	text-align: center;
}

footer p a:hover{
	color:blueviolet;
	text-decoration: none;
}